/* 
    Created on : Oct 14, 2015, 3:48:53 PM
    Author     : Tay Wei Hong
    Description: This document contains all the style used in describing the
                 presentation of the xhtml web pages found in the application.
*/

/* Style defined for displaying the datalist items in the dialog for both
   gex-affymetrix and gex-illumina views.
*/
.datalist .ui-widget-content {
    border: none;
}
.datalistitem .ui-datalist-item {
    text-align: left;
}

/* Style defined for displaying the application name (center aligned) at the 
   login page.
*/
.app-name {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 500;
    font-size: 14pt;
    height: 45px;
    color: white;
    background-color: rgb(54,100,139);
    margin: 0 auto;
}

/* Style defined for the input box at the login page.
*/
.login-input {
    font-family: courier, arial, monospace;
    font-size: 14pt;
    width: 100%;
    box-shadow: none;
    border-radius: 5px;
    padding: 4px 4px;
}

/* Style defined for the Login button.
*/
.login-button {
    font-family: courier, arial, monospace;
    font-size: 14pt;
    border-radius: 3px;
    height: 35px;
    width: 100px;
    background-color: rgb(234,239,243);
}

/* Style defined for studies review title.
*/
.study-title {
    font-family: courier, arial, monospace;
    font-size: 14pt;
    font-weight: 100;
}

/* Style defined for studies review panelGrid.
*/
.study-pg td {
    background-color: rgb(253,239,231) !important;
}

/* Styles defined for the studies review columns.
*/
.study-col1 {
    width: 20%;
}
.study-col2 {
    width: 80%;
}

/* Style defined for displaying the input box (center aligned) at the login 
   page.
*/
.login-box {
    font-family: courier, arial, monospace;
    font-size: 14pt;
    border-style: solid;
    border-width: thin;
    border-spacing: 15px;
    color: rgb(204,204,204);
    margin: 0 auto;
}

/* Style defined for displaying the title in p:tab
*/
.tab-title {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Style defined for displaying the button found in a panelGrid.
*/
.panel-button {
    margin-top: 0.5em;
    width: 180px;
}

/* Style defined for displaying the error message in h:message.
*/
.errors {
    font-family: courier, arial, monospace;
    font-size: 9pt;
    color: red;
}

/* Style defined for displaying the divider at the bottom of every page.
*/
.underline {
    margin-top: 3em;
    color: rgb(204,204,204);
}

/* Style defined for displaying the division and group identification at the 
   bottem of every page.
*/
.alignleft {
    float: left;
    color: rgb(204,204,204);
}
.alignright {
    float: right;
    color: rgb(204,204,204);
}

/* Style defined for displaying the title for the menuitem under the 
   breadCrumb.
*/
.subheading {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 11pt;
}

/* Style defined for displaying the user info at every page after the login.
*/
.user-info {
    font-family: courier, arial, monospace;
    font-size: 9pt;
    font-style: italic;
    float: right;
}

/* Style defined for displaying the odd and even rows in the datatable. 
*/
.table-odd-row .ui-datatable-odd {
    font-family: courier, arial, monospace;
    font-size: 10pt;
    background-color: rgb(232, 255, 225);
}
.table-even-row .ui-datatable-even {
    font-family: courier, arial, monospace;
    font-size: 10pt;
    background-color: rgb(233, 249, 244);
}

/* Style defined for the input label at clinicaldatamanagement.xhtml 
*/
.inputlabel {
    font-size: 14px;
}

/* Style defined to align the panel grid columns in the pipeline configuration
   page to the top.
*/
.configcolumn td {
    vertical-align: top;
}

/* Style defined for the input label at all the pipeline configuration pages.
*/
.configlabel {
    font-weight: bold;
}

/* Style defined for the separator at all the pipeline configuration pages.
*/
.configsep {
    height: 20px;
}

/* Style defined for input text at the pipeline configuration pages.
*/
.configinput {
    width: 99%;
    color: red !important;
    font-weight: bold !important;
}

/* Style defined for the menu items at the main page.
*/
.mainmenuitem {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 12pt !important;
}

/* To replace the \n with <br /> in outputText. 
*/
.preformatted {
    white-space: pre-wrap;
    font-family: courier, arial, monospace;
    font-size: 12px;
}

/* Style defined for job status column (job status, output and report) width 
   and text alignment
*/
.jssmallcol {
    width: 90px;
    text-align: left !important;
}

/* Style defined for job status column (Study ID and Submission Time) width
   and text alignment
*/
.jsmedcol {
    width: 200px;
    text-align: left !important;
}

/* Style defined for p:column with width equal to 120px, and text align left.
*/
.col120 {
    width: 120px;
    text-align: left !important;
}

/* Style defined for p:column with width equal to 140px, and text align left.
*/
.col140 {
    width: 140px;
    text-align: left !important;
}

/* Style defined for p:column with width equal to 300px, and text align left.
*/
.col300 {
    width: 300px;
    text-align: left !important;
}

/* Style defined for colum with button|checkbox|etc. @22Jun2016
*/
.colbutton {
    width: 40px;
    text-align: center !important;
}

/* Style defined for study title column.
*/
.studytitlecol {
    width: 250px;
    text-align: left !important;
}