/* 
    Created on : Oct 14, 2015, 3:48:53 PM
    Author     : Tay Wei Hong
    Description: This document contains all the style used in describing the
                 presentation of the xhtml web pages found in the application.
*/

.datalist .ui-widget-content {
    border: none;
}
.datalistitem .ui-datalist-item {
    text-align: left;
}

.loginpage.ui-panelgrid>*>tr,
.loginpage.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}
.grid-main {
    width: 100%;
}
.grid-left {
    width: 35%;
}
.grid-centre {
    width: 30%;
    alignment-adjust: middle;
    alignment-baseline: middle;
}
.grid-right {
    width: 35%;
}

.app-name {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 900;
    font-size: 18pt;
    margin: 0.2em;
    color: rgb(0,124,188);
}

.element-spacing {
    margin: 0.1em;
}

.button {
    width: 215px;
}

.inputtext {
    border-width: thin;
}

.login-box {
    border-style: solid;
    border-width: thick;
    border-spacing: 15px;
    color: rgb(204,204,204);
    font-size: 10pt;
}

.tab-title {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.panel-button {
    margin-top: 0.5em;
    width: 180px;
}

.page-border {
    width: 100%;
    margin-top: 0.5em;
    border-style: solid;
    border-width: thick;
    border-spacing: 15px;
    font-family: courier, arial, monospace;
    border-color: rgb(204,204,204);
}

.errors {
    font-family: courier, arial, monospace;
    font-size: 9pt;
    color: red;
}

.underline {
    margin-top: 3em;
    color: rgb(204,204,204);
    size: 5px;
}

.alignleft {
    float: left;
    color: rgb(204,204,204);
}

.alignright {
    float: right;
    color: rgb(204,204,204);
}

.clock {
    margin-top: 2em;
    float: right;
    font-family: courier, arial, monospace;
    font-size: 10pt;
}

.aligncentre {
    text-align: center;
}

.subheading {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 11pt;
}

.page {
    font-family: courier, arial, monospace;
    font-size: 10pt;
    text-align: left;
}

.user-info {
    font-family: courier, arial, monospace;
    font-size: 9pt;
    font-style: italic;
    float: right;
}

.header {
    margin-bottom: 1em;
}

.table-odd-row .ui-datatable-odd {
    font-family: courier, arial, monospace;
    font-size: 10pt;
    background-color: rgb(232, 255, 225);
}

.table-even-row .ui-datatable-even {
    font-family: courier, arial, monospace;
    font-size: 10pt;
    background-color: rgb(233, 249, 244);
}

.label {
    font-size: 14px;
}

/* To replace the \n with <br /> in outputText */
.preformatted {
    white-space: pre-wrap;
}