<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>TIMS.General.LogContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>setup</param-name>
        <param-value>/config/system-config.txt</param-value>
    </context-param>
    <context-param>
        <param-name>log4j2w</param-name>
        <param-value>/config/log4j2w.xml</param-value>
    </context-param>
    <context-param>
        <param-name>log4j2l</param-name>
        <param-value>/config/log4j2l.xml</param-value>
    </context-param>
    <context-param>
        <param-name>itemlist</param-name>
        <param-value>/config/itemlistconfig.txt</param-value>
    </context-param>
    <context-param>
        <param-name>uname</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>pword</param-name>
        <param-value>Hihi2000</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bluesky</param-value>
    </context-param>
    <context-param>
        <param-name>isLog4jAutoInitializationDisabled</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/expired.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/restricted/error.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/pagenotfound.xhtml</location>
    </error-page>
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>image/eot</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>image/woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/x-font-woff2</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>image/ttf</mime-type>
    </mime-mapping>
    <security-constraint>
        <display-name>LoginConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>login</web-resource-name>
            <description>Login Page</description>
            <url-pattern>/login.xhtml</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
